{% extends "::base.html.twig" %}

{% block body %}
    <div>  
{% for background in backgrounds %}
    {{ background.id }} | {{ background.src }} | {{ background.heureDate|date() }}<br/>
{% endfor %}
    </div>
{% endblock %}