{% extends "::base.html.twig" %}

{% block title %}AppBundle:ActivePeriodeZone:getActivePeriodes{% endblock %}

{% block body %}
<h1>Welcome to the ActivePeriodeZone:getActivePeriodes page</h1>

{% for activePeriode in activePeriodes %}
    
  {{ activePeriode.nom }}
{% endfor %}
{% endblock %}
