{% extends "::base.html.twig" %}

{% block title %}AppBundle:ActivePeriodeZone:postActivePeriodes{% endblock %}

{% block body %}
<h1>Welcome to the ActivePeriodeZone:postActivePeriodes page</h1>
    {% if form is defined %}
        {{ form(form) }}
    {% elseif activePeriode is defined %}
        {% for active in activePeriode %}
            {{ active.id }}
        {% endfor %}
    {% else %}
        erreur
    {% endif %}
{% endblock %}
